.color-bg {
    color:black;
    font-size:35px;
    background:#0099cc;
    height:50vh;
    text-align:center;
}
.content {
    color: #0099cc;
    font-size:35px;
    background: #b3ecff;
    height:50vh;
    text-align:center;
}
.empty {
    color: black;
    font-style:italic;
    background-image:url('https://wallpapercave.com/wp/IXxHHzD.jpg');
    background-size:cover;
    background-position: center;
    height:50vh;
}
.image {
    color: black;
    font-size:35px;
    background-image:url('https://wallpapercave.com/wp/IXxHHzD.jpg');
    background-size:cover;
    background-position: center;
    height:50vh;
    text-align:center;
}